OBS_BASE_PATH=/data/waarneming/obs
NOORDZEE_BASE_PATH=/data/waarneming/noordzee
NEDERLANDZOEMT_BASE_PATH=/data/waarneming/nederlandzoemt
PHPAPP_BASE_PATH=/data/waarneming/phpapp
MEDIA_BASE_PATH=/data/waarneming/media

